// Navigation

// Replace with your Code
#navigation
  width: 100%
  min-height: 100%
  padding: 20px 0
  background: $black

  .container
    .row
      width: 300px

      .menu-item-col
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: 100vh

        .menu
          margin: auto
          display: flex
          flex-direction: column

        ul
          margin-left: 20px
          margin-left: 300px

          li
            min-height: 80px

            a
              font-size: 40px

      .number
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: 100vh
        margin: auto


        ul
          list-style: none
          display: block

          li
            min-height: 80px
            font-size: 10px
