// Navigation

// Replace with your Code
#navigation
  width: 100%
  min-height: 100%
  background: $black

  .container
    .row
      .menu-item-col
        justify-content: center
        align-items: center
        min-height: 100vh
        margin: auto
        width: 100%


        .menu
          display: flex
          flex-direction: column


        ul
          height: 100vh
          margin: auto
          li
            height: 100%
            margin: auto
            margin-left: 25px

            a
              font-size: 50px
              font-weight: lighter
